<% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.image.url(:medium) %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.oldprice %></td>
        <td><%= item.newprice %></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-id="<%= item.id %>" data-title="<%= item.name %>">Buy</button></td>
      </tr>



  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="shape">
            <div class="shape-text">
              top
            </div>
          </div>
          <img src="img4.4.jpg" class="img-responsive">

          <div class="caption">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <h3><%= item.name %></h3>
              </div>
              <div class="col-md-6 col-xs-6 price">
                <h3>
                  <label><%= item.oldprice %></label></h3>
                  <label><%= item.newprice %></label></h3>
              </div>
            </div>
            <p><%= item.description %></p>
            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6">
                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-id="<%= item.id %>" data-title="<%= item.name %>">Buy</button></td>
              </div>
            </div>

            <p> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%= render 'modal' %>